@import '_variables', '_styles';

.c-main {
  margin: 60px 0px;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;

      letter-spacing: 0.25px;

      color: #ffff;

      @media (min-width: 992px) {
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -0.5px;
      }
    }
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4.3px;
    margin-top: -30px;
    &--text {
      font-family: 'Dm Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      text-align: center;
      letter-spacing: 0.1px;

      color: #ffff;

      @media (min-width: 992px) {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.15px;
        margin-top: -10px;
        margin-bottom: 50px;
      }
    }
  }

  &__form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

    // width: 70%;
    // height: 564px;

    margin: 24px;

    background-color: #26292d;

    @media (min-width: 996px) {
      justify-content: center;
      align-items: center;
      width: 447px;
      height: 546px;
      margin: auto;
    }

    .label {
      font-family: 'Dm Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;

      text-align: center;
      letter-spacing: 0.44px;

      color: #ffff;
      margin: 8px 0;
    }

    #name-label,
    #email-label,
    #message-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 20px;

      background-color: #1c1e22;
      box-sizing: border-box;
      border-radius: 8px;

      margin: 8px 0;

      @media (min-width: 996px) {
        width: 399px;
        height: 60px;
      }
    }

    #message-label {
      height: 150px;
    }

    .btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 8px;

      width: 100%;
      height: 48px;

      background-color: #5c62ec;
      border-radius: 8px;
      color: #ffff;

      margin: 24px 0;
    }
  }
}
